int8=com.taobao.Int8Codec
int16=com.taobao.Int16Codec
int32=com.taobao.Int32Codec
int64=com.taobao.Int64Codec
svint32=com.taobao.SVInt32Codec
svint64=com.taobao.SVInt64Codec
uvint32=com.taobao.UVInt32Codec
uvint64=com.taobao.UVInt64Codec
double=com.taobao.DoubleCodec
string=com.taobao.BinaryStringCodec

